<!-- webshop_style/templates/generators/item/item_add_to_cart.html -->

{% if shopping_cart and shopping_cart.cart_settings.enabled %}

{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}

<div class="item-cart row mt-2" data-variant-item-code="{{ item_code }}">
	<div class="col-md-12">

		<!-- Price -->
		{% if cart_settings.show_price and product_info.price %}
			{% set price_info = product_info.price %}
			<div class="product-price"
				itemprop="offers"
				itemscope
				itemtype="https://schema.org/AggregateOffer">
				<span>{{ price_info.formatted_price_sales_uom }}</span>
			</div>
		{% endif %}

		<!-- Add to Cart Section -->
		<div class="mt-6 mb-5">
			<div class="mb-4 d-flex">

				{% if product_info.price and (cart_settings.allow_items_not_in_stock or product_info.get("in_stock")) %}

					<!-- View in Cart -->
					<a href="/cart"
						class="btn btn-light btn-view-in-cart hidden mr-2 font-md"
						role="button">
						{{ _("View in Cart") if cart_settings.enable_checkout else _("View in Quote") }}
					</a>

					<!-- Add to Cart -->
					<button
						data-item-code="{{ item_code }}"
						class="btn btn-primary btn-add-to-cart mr-2"
						type="button"
					>
						<span class="mr-2">
							<svg class="icon icon-md">
								<use href="#icon-assets"></use>
							</svg>
						</span>
						{{ _("Add to Cart") if cart_settings.enable_checkout else _("Add to Quote") }}
					</button>

				{% endif %}

				<!-- Contact Us -->
				{% if cart_settings.show_contact_us_button %}
					{% include "templates/generators/item/item_inquiry.html" %}
				{% endif %}

			</div>
		</div>

	</div>
</div>

{% endif %}